.game {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: lightgreen;
}

.game * {
    position: absolute;
}

.entity {
    width: 30px;
    height: 30px;

    background: antiquewhite;
}

.player {
    border: lightcoral 1px solid;
    border-radius: 3px;
}


